<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!--><link rel="stylesheet" type="text/css" href="/css/main.css"><!-->
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Blog</a></li>
	        	<li><a href="/about">About</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:nekrasowladimir@gmail.com">email</a></li>
        		<li><a href="https://github.com/drsleep">github.com/drsleep</a></li>
			</ul>
		</footer>
	</body>
</html>
